

.Navstyle{
 margin-top: 50px;
  list-style: none;
  justify-content: center;

}

.Navstyle li{
  padding: 5px;
 
}

.compnamestyle{
  font-size: 1.1rem; 
  position: absolute;
  top: 0;
  left: 5px;
}

.threebars{
 position: absolute;
 margin-left: 95%;
 top: 0;
 font-size: 1.2rem;
}

@media only screen and (min-width: 768px){

  body{
    background-color: aqua;
  }

  .Navstyle{
    display: flex;
    padding: 10px;
    font-size: 1.4rem;
  }

  .threebars{
    display: none;
  }
}
