.Navstyle {
  margin-top: 50px;
  justify-content: center;
}

.Navstyle li {
  padding: 3px;
  list-style: none;
  font-size: 0.9rem;
}

.compnamestyle {
  font-size: 1.1rem;

  left: 5px;
}

.homepage {
  background: #b2b677;
}

.threebars {
  position: absolute;
  margin-left: 93%;
  top: 0;
  font-size: 1.7rem;
  color: #fff;
}
.footerstyle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #4d3f36;
}

@media only screen and (min-width: 768px) {
  body {
    background: linear-gradient(
      to right,
      #9c9e9f 0%,
      #9c9e9f 50%,
      #f6f6f6 50%,
      #f6f6f6 100%
    );
  }

  .Navstyle {
    display: flex;
    padding: 10px;
    font-size: 1.4rem;
    margin-top: 5px;
  }

  nav {
    background: linear-gradient(
      to right,
      #4db489 0%,
      #a2cc5e 50%,
      #2f9c78 50%,
      #4acab5 100%
    );
  }

  .threebars {
    display: none;
  }

  .healthstyle {
    list-style: none;
    font-size: 0.9rem;
    position: absolute;
    background: #f7ecde;
    margin-top: 5px;
    padding: 20px;
    display: none;
  }
  .homehealthstyle {
    list-style: none;
    font-size: 0.9rem;
    position: absolute;
    background: #f7ecde;
    margin-top: 5px;
    padding: 20px;
    display: none;
  }

  .arrowdown {
    display: none;
  }
  .linkclass {
    opacity: 0.6;
  }

  .linkclass:hover {
    opacity: 1;
  }
  .btnmap {
    color: rgb(105, 63, 60);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homehealth {
    display: flex;
    background-color: #0a0909;
    display: inline-block;
    border-radius: 15px;
    position: fixed;
  }

  .divheading {
    color: #ebe2e2;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 58px;
    text-align: center;
    margin: 0 0 25px;
  }
  .divparagraph {
    color: #020b11;
    font-family: "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
    padding: 20px;
    letter-spacing: 1px;
    text-align: justify;
  }
  .listyle {
    opacity: 0.7;
  }
  .listyle:hover {
    opacity: 1;
  }

  .pageheading {
    font-family: "Courier New", Courier, monospace;
    width: 30%;
    color: #fff;
    margin: auto;
    padding: 10px;
  }

  .homepageheading {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .headingbtn {
    text-align: end;
    opacity: 0.9;
  }
  .headingbtnn:hover {
    color: #0f4471;
  }

  .homemaker101 {
    display: flex;
  }
  .secondfounder{
    display: flex;
  }
  .firstfounder{
    display: flex;
   
  }
}
