

.Navstyle{
 margin-top: 50px;
justify-content: center;


}

.Navstyle li{
padding: 3px;
 list-style: none;
 font-size: .9rem;

}

.compnamestyle{
  font-size: 1.1rem; 
 
  left: 5px;
}

.homepage{

 background: #F1A661;
}

.threebars{
 position: absolute;
 margin-left: 93%;
 top: 0;
 font-size: 1.7rem;
 color: #fff;
}
.footerstyle{
position: absolute;
bottom: 0;
right: 0;
left: 0;
background-color: #4d3f36;
}


@media only screen and (min-width: 768px){

  body{
   background: linear-gradient(to right,  #9c9e9f 0%,#9c9e9f 50%,#f6f6f6 50%,#f6f6f6 100%);
  }

  .Navstyle{
    display: flex;
    padding: 10px;
    font-size: 1.4rem;
    margin-top: 5px;
   
  }
  

  nav{
    background: linear-gradient(to right, #948989 0%, #917f7f 50%, #F1A661 50%, #F1A661 100%);

  }

  .threebars{
    display: none;
  }

  .healthstyle{
   
    list-style: none;
    font-size: .9rem;
    position: absolute;
    background: #F7ECDE;
    margin-top: 5px;
    padding: 20px;
    display: none;
    
  }
  .homehealthstyle{

    list-style: none;
    font-size: .9rem;
    position: absolute;
    background: #F7ECDE;
    margin-top: 5px;
    padding: 20px;
    display: none;
  
  }

.arrowdown{
  display: none;
}
.linkclass{
  opacity:.6;
}

.linkclass:hover{
  opacity: 1;
}
.btnmap{
  color: rgb(105, 63, 60);
  display: flex;
  justify-content: center;
  align-items: center;
} 

.homehealth{
  display: flex;
  justify-content: center;
  align-items: center;
}

}
